/* select a font */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --ff-roboto: "Roboto", sans-serif;
  --ff-noto-sans: "Noto Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-roboto);
}

/* global styles */
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section,
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
}
.card {
  width: 18rem;
  background-color: #7a9aa0;
  border-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  user-select: none;
}
.heading {
  font-weight: 800;
  text-align: center;
}
small {
  font-size: 1rem;
}
.current-balance {
  font-weight: 800;
}
.trans {
  display: flex;
  padding: 5px;
  gap: 1rem;
}
.trans div {
  text-align: center;
  font-weight: 900;
  padding: 20px;
  font-size: 18px;
}
.credit {
  color: #1dd1a1;
}
.debit {
  color: #ee5253;
}
.history {
  margin-top: 0.5rem;
  width: 90%;
  height: 12rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
.new-transaction {
  display: flex;
  justify-content: center;
  align-items: center;
}
.transaction-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
}

input {
  width: 90%;
  cursor: pointer;
  padding: 0.15rem;
  font-weight: 700;
  
}
.transaction-text {
  font-size: 1rem;
  font-weight: 700;
}
label {
  margin: 0.5rem;
}
.button {
  width: 100%;
  padding: 0.5rem;
  background-color: #1d3557;
  border-color: #1d3557;
  border-radius: 5px;
  color: #ffff;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}
.history-list {
  margin-left: 1.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  /* background-color: red; */
  width: 80%;
}
.history {
  overflow-y: scroll;
}
.history h4 {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 5px;
}
.list-of-history {
  list-style-type: none;
}
.list-of-history li {
  background-color: #ffff;
  color: #ffff
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 2px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.list-of-history li.expense {
  border-right: 5px solid #ee5253;
}
.list-of-history li.income {
  border-right: 5px solid #1dd1a1;
}
.btn-delete {
  position: absolute;
  top: -15px;
  left: 0px;
  width: 18px;
  height: 20px;
  border-radius: 50%;
  font-weight: 600;
  color: #ffff;
  background-color: #e74c3c;
  border: none;
  font-size: 10px;
  line-height: 20px;
  cursor: pointer;
  opacity: 0;
}
.list-of-history li:hover .btn-delete {
  opacity: 1;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #2e86de;
  border-radius: 8px;
}
